<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Career</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/style.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
   <div class="grido ">
   <div class="Log">Hello</div>
   <div class="Log"> @Html.ActionLink("Careeer", "Index", "Home", new { area = "" }, new { @class = "Log" })</div>
    <div class="Log">World</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - vladimirtroubleton</p>
        </footer>
    </div>
</body>
</html>