@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SoriNotSori.Models.CareerModels
<h2>Имя карьера</h2>
<dl>
    <dt>Название</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Имя региона</dt>
    <dd>
        @Html.DisplayFor(model => model.NameSub)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}
