@model SoriNotSori.Models.CareerModels


@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Карьеры России</title>
  <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
     <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<style>
    
</style>
<body>
 <div class="Link grido">    
        
     <div ><a href="/Home/Create/">Добавить</a></div>
     </div>
         <div>
        <table>
            <tr><td class="tb"><p>Название карьера</p></td>
                <td class="tb"><p>Название субъекта</p></td>
               
            </tr>
            @foreach (var b in ViewBag.Career)
            {
            <tr>
                <td class="tb"><p>@b.Name</p></td>
                <td class="tb"><p>@b.NameSub</p></td>
                <td ><p style="padding: 5px;"><a href="/Home/Edit/@b.ID">Изменить</a></p></td>
                <td><p style="padding: 5px;"><a href="/Home/Del/@b.ID">Удалить</a></p></td>
            </tr>
            }
        </table>
        
    </div>
</body>
</html>

